<footer id="footer">
  <div class="container">
    
  
    <div class="col-xs-3">
    	<p> <strong> BaRatin</strong> - Bayesian Rating Curves </p>
        <p> <strong>Contact</strong>: baratin.dev %at% inrae.fr </p>
    </div>
  
    <div class="col-xs-3">
        <p> <a href="https://github.com/BaRatin-tools"> <img alt="GitHub logo" src="/img/github-mark.svg" width="24" height="24" /> https://github.com/BaRatin-tools </a> </p>
        <p> <a href="https://github.com/BaM-tools"> <img alt="GitHub logo" src="/img/github-mark.svg" width="24" height="24" /> https://github.com/BaM-tools </a> </p>
    </div>
  
    <div class="col-xs-3">
      <p> 
       <a href="https://www.inrae.fr"><img style="max-width:90%;max-height:40px;" src="/img/Logo-INRAE_Transparent.png" alt="INRAE"> </a>
      </p>   
    </div>
    
    <div class="col-xs-3">
      <p> 
       <a href="https://gdh-hydrometrie.org/"><img style="max-width:90%;max-height:76px;" src="/img/Logo-GDH.png" alt="GDH"> </a>
      </p>   
    </div>
      
  </div>
    
</footer>


