
  <div class="container">
  	<h3> Sections </h3>
    {{ $paginator := where .Site.RegularPages ".Params.inTOC" "caseStudies" }}
    {{ $current := .Page}}
    {{ range $paginator }}
		{{if eq .Title $current.Title}}
		<div style="background-color:beige;">
		   <strong> <a href="{{ .Permalink }}">{{ .Title }} : <br> {{ .Params.subtitle }}</a> </strong></br>
		</div>
		</br>
		{{else}}
		    <a href="{{ .Permalink }}">{{ .Title }} : <br> {{ .Params.subtitle }}</a> </br> </br>
		{{ end }}
    {{ end }}
         
  
  </div>
    



